@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --cor-primaria: #011207;
    --cor-secundária: #F4F4F4;
    --cor-terciaria: #b64815;
    --cor-hover: #4C763B;

    --fonte-primaria: 'Noto Sans', sans-serif;
    --fonte-secundaria: 'Nunito Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundária);
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    display: flex;
    flex-direction: column;
    gap: 40;
    width: 615px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: var(--fonte-primaria);
}

.titulo__destaque{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__subtitulo:hover{
    border: 1px solid var(--cor-terciaria);
    border-radius: 8px;
}

.apresentacao__links__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 1px solid var(--cor-terciaria);
    width: 387px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    color: var(--cor-secundária);
    text-decoration: none;
}

.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
}

.rodape{
    padding: 20px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 20px;
    font-weight: 400;
}